task01/.syndicate-config-dev/
task02/.syndicate-config-dev/
task03/.syndicate-config-dev/
task04/.syndicate-config-dev/
task05/.syndicate-config-dev/
task06/.syndicate-config-dev/
task07/.syndicate-config-dev/

